////////////////////////////////////////////////////////////////////////////////
/// Define the main configuration maps
/// @author Fábio Macêdo Mendes
/// @group Config
////////////////////////////////////////////////////////////////////////////////
@import 'stack-font';
@import 'stack-color';

$mendeleev-color-contrast: $fn-empty-map !default;
$mendeleev-color-palette: $fn-empty-map !default;
$mendeleev-typeface: null !default;
$mendeleev-cursive: cursive !default;
$mendeleev-monospace: monospace !default;
$mendeleev-sans-serif: sans-serif !default;
$mendeleev-serif: serif !default;

//------------------------------------------------------------------------------
// CONFIGURATION DICTIONARY
//------------------------------------------------------------------------------

/// Main configuration dictionary. You customize Mendeleev by setting values
/// to this dictionary.
$config: () !default;

/// Default configuration options.
/// This map contains all default values for configurations that can be
/// overridden by the `$config` or `$config-defaults` mappings.
$mendeleev-enable-module: true !default;
$mendeleev-config: (
    //
    // GLOBAL
    'breakpoints': (
        'sm': 30rem,
        'md': 50rem,
        'lg': 75rem,
    ),
    'utilities': (
        'important': true,
        'emit': 'respect',
    ),
    //
    // TYPOGRAPHY
    'typography': (
        //
        // Generic
        'modules': (
            'headings': $mendeleev-enable-module,
            'paragraph': $mendeleev-enable-module,
            'scale': $mendeleev-enable-module,
            'leading': $mendeleev-enable-module,
            'measure': $mendeleev-enable-module,
            'indent': $mendeleev-enable-module,
            'alignment': $mendeleev-enable-module,
            'styles': $mendeleev-enable-module,
            'weights': $mendeleev-enable-module,
            'fonts': $mendeleev-enable-module,
            'direction': $mendeleev-enable-module,
            'white-space': $mendeleev-enable-module,
        ),
        //
        // Typefaces
        'typeface': $mendeleev-typeface,
        'cursive': $mendeleev-cursive,
        'monospace': $mendeleev-monospace,
        'sans-serif': $mendeleev-sans-serif,
        'serif': $mendeleev-serif,
        //
        // Vertical rhythm and modular scale
        'size': (
            'start': 16,
            'md': 17,
            'lg': 18,
        ),
        'lead': 1.5,
        'heading-lead': 1.250,
        'scale': (
            'start': 9/8,
            'sm': (9/4 + 5/4) / 3,
            'md': (9/8 + 5/2) / 3,
            'lg': 5/4,
        ),
        //
        // Overridden properties
        'body': (),
        'paragraph': (),
        'headings': (
            'letter-spacing': -0.03em,
            'font-weight': 900,
            'color': $mendeleev-color-brand,
        ),
    ),
    //
    // COLORS
    'palette': $mendeleev-color-palette,
    'contrast': $mendeleev-color-contrast,
    'color': (
        'contrast-bias': 0.125,
        'roles': (
            'primary', 'secondary', 'action',
            'positive', 'negative', 'warning',
            'black', 'white', 'grey', 'red', 'orange', 'yellow', 'olive',
            'green', 'teal', 'blue', 'violet', 'purple', 'pink', 'brown',
        ),
        'text': (
            'inverse', 'muted', 'muted-inverse',
        ),
        'variants': (
            'colors': (
                'brand', 'accent',
            ),
            'contrast': (
                'light': ('white', 95%),
                'dark': ('black', 95%),
            ),
            'levels': (
                'lighter': ('white', 75%),
                'light': ('white', 33%),
                'dark': ('black', 33%),
                'darker': ('black', 75%),
            ),
        ),
    ),
    //
    // ANIMATIONS
    'animation': (
        'duration': 300ms,
        'timing-function': ease,
    ),
    //
    // FORM ITEMS
    'input': (
        'color-role': 'white',
        'border': 1px solid,
        'border-color': 'action',
        'border-radius': 0.25,
    ),
    'button': (
        'color-role': 'action',
        'border': 1px solid,
        'border-color': 'action',
        'border-radius': 0.25,
        'font-weight': bold,
    ),
    //
    // LAYOUT
    'layout': (
        'display': $mendeleev-enable-module,
        'float': $mendeleev-enable-module,
        'position': $mendeleev-enable-module,
        'container': $mendeleev-enable-module,
        'overflow': $mendeleev-enable-module,
    ),
    //
    // OTHER MODULES
    'background': $mendeleev-enable-module,
    'border': $mendeleev-enable-module,
    'colors': $mendeleev-enable-module,
    'flex': $mendeleev-enable-module,
    'flex-grid': $mendeleev-enable-module,
    'grid': $mendeleev-enable-module,
    'hard-grid': $mendeleev-enable-module,
    'interactivity': $mendeleev-enable-module,
    'list': $mendeleev-enable-module,
    'margin': $mendeleev-enable-module,
    'padding': $mendeleev-enable-module,
    'rounded': $mendeleev-enable-module,
    'shadow': $mendeleev-enable-module,
    'sizing': $mendeleev-enable-module,
    'sizes': $mendeleev-enable-module,
    'transform': $mendeleev-enable-module,
    'visibility': $mendeleev-enable-module,
    //
    // ELEMENT OVERRIDES
    'elements': (),
) !default;

