////////////////////////////////////////////////////////////////////////////////
/// LIST FUNCTIONS
/// @group list functions
/// @author Fábio Macêdo Mendes
////////////////////////////////////////////////////////////////////////////////

$_list-not-given: unique-id() !default;

/// Map function to list.
/// Function handlers in Sass are obtained by using the `get-function(function-name)`
/// function.
///
/// @arg $lst - The input list.
/// @arg $function - A handler to a function or function name.
@function list-apply($lst, $function, $args...) {
    $function: as-func($function);
    $result: ();
    @each $elem in $lst {
        $result: append($result, call($function, $elem, $args...));
    }
    @return $result;
}


/// Concatenate first argument elementwise with the second.
/// If first argument is a list, makes a elementwise concatenation with second
/// and return a comma separated list. This function is useful to create selectors in mixins.
@function concat-second($fst, $snd) {
    @if type-of($fst) == string {
        @return $fst + $snd;
    } @else if type-of($fst) == list {
        @return join(list-apply($fst, op-add, $snd), (), comma);
    } @else {
        @error 'Invalid first argument: #{$fst}';
    }
}
