////////////////////////////////////////////////////////////////////////////////
/// STRING FUNCTIONS
/// @group string functions
/// @author Fábio Macêdo Mendes
////////////////////////////////////////////////////////////////////////////////

/// Split string into separator and return a list of strings
///
/// @arg $string - Initial string
/// @arg $sep - Separator
@function str-split-to-array($string, $sep) {
    $lst: ();
    $step: length($sep);
    $size: str-length($string);

    @while $size > 0 {
        $idx: str-index($string, $sep);
        @if $idx == null {
            $size: 0;
            $lst: append($lst, $string);
        } @else {
            $lst: append($lst, str-slice($string, 1, $idx - 1));
            $string: str-slice($string, $idx + $step, $size);
            $size: str-length($string);
        }
    }
    @return $lst;
}

