//------------------------------------------------------------------------------
// BORDERS
//------------------------------------------------------------------------------

@import '../preflight';

$mendeleev-border-sizes: L(1, 2, 4, 8) !default;
$mendeleev-css-border-sizes: lst-to-map(lst-zip(
        $mendeleev-border-sizes,
        lst-rmap(str-interpolate, $mendeleev-border-sizes, '$1px solid'))) !default;

//------------------------------------------------------------------------------
// Border size (px)
$do: mendeleev-utility-module(
        'border', (
        border:
            ('.border-', $mendeleev-css-border-sizes),
        border-left:
            ('.border-l', $mendeleev-css-border-sizes),
        border-right:
            ('.border-r', $mendeleev-css-border-sizes),
        border-top:
            ('.border-t', $mendeleev-css-border-sizes),
        border-bottom:
            ('.border-b', $mendeleev-css-border-sizes),
        border-style:
            ('.border-', (
                solid: solid,
                dashed: dashed,
                dotted: dotted,
                none: none,
            )),
    ));

//------------------------------------------------------------------------------
// TODO: Rounded corners

//// All directions
//$_emit: true;
//@each $key, $value in $_mendeleev-sizes {
//    $do: register-utility('.rounded-#{$key}', (border-radius: $value / 2), $emit: $_emit);
//}
//
//$do: register-utility('.rounded-full', (border-radius: 9999px), $emit: $_emit);
//
//// Directional rounded corners
//@each $key, $value in $_mendeleev-sizes {
//    $do: register-utility('.border-t#{$key}', (
//        border-top-left-radius: $value / 2,
//        border-top-right-radius: $value / 2),
//    $emit: $_emit);
//}
//
//@each $key, $value in $_mendeleev-sizes {
//    $do: register-utility('.border-b#{$key}', (
//        border-bottom-left-radius: $value / 2,
//        border-bottom-right-radius: $value / 2),
//    $emit: $_emit);
//}
//
//@each $key, $value in $_mendeleev-sizes {
//    $do: register-utility('.border-l#{$key}', (
//        border-bottom-left-radius: $value / 2,
//        border-top-left-radius: $value / 2),
//    $emit: $_emit);
//}
//
//@each $key, $value in $_mendeleev-sizes {
//    $do: register-utility('.border-r#{$key}', (
//        border-bottom-right-radius: $value / 2,
//        border-top-right-radius: $value / 2),
//    $emit: $_emit);
//}
