//------------------------------------------------------------------------------
// COLORS
//------------------------------------------------------------------------------
@import '../preflight';

@function _color-list() {
    $suffixes: map-keys(config('color.variants.color'));
    $variants: config('color.roles.variants');
    $extra: null;
    @each $suffix in $suffixes {
        @each $variant in $variants {
            $extra: cons('#{$variant}-#{$suffix}', $extra);
        }
    }
    $extra: lst-to-array($extra);
    @return join(join(config('color.roles.simple'), $variants), $extra);
}

$_mendeleev-color-list: _color-list() !default;

@function _mendeleev-colors-and-contrasts() {
    $res: null;
    @each $name in $_mendeleev-color-list {
        $res: cons($name L(color($name), color($name, contrast)), $res);
    }
    @return lst-to-map($res);
}

@function _mendeleev-colors() {
    $res: null;
    @each $name in $_mendeleev-color-list {
        $res: cons($name color($name), $res);
    }
    @return lst-to-map($res);
}

//------------------------------------------------------------------------------
// UTILITY CLASSES
//------------------------------------------------------------------------------

$do: mendeleev-module(
        'colors', (
        //
        // Create all .color-* classes
        '.color-$1': scale-of(
            $scale: _mendeleev-colors-and-contrasts(),
            $css: (
                color: '$1',
                background-color: '$2',
            )),
    ));

$do: mendeleev-utility-module(
        'colors', (
        //
        // Create all .bg-* classes
        background-color:
            ('.bg-', _mendeleev-colors()),
        //
        // Create all .text-* classes
        color:
            ('.text-', _mendeleev-colors()),
    ));
