//------------------------------------------------------------------------------
// COLORS
//------------------------------------------------------------------------------
@import '../preflight';

$do: mendeleev-module('colors', $mendeleev-colors-contrast);

$do: mendeleev-utility-module(
        'colors', (
        //
        // Create all .bg-* classes
        background-color:
            ('.bg-', $mendeleev-colors),
        //
        // Create all .text-* classes
        color:
            ('.text-', $mendeleev-colors),
    ));
