//------------------------------------------------------------------------------
// CONTROL LAYOUT (OVERFLOW, FLOATS, DISPLAY, POSITION)
//------------------------------------------------------------------------------
@import '../preflight';

// Display
$do: mendeleev-utility-module(
        'layout.display', (
        display:
            ('.', (
                block,
                inline,
                inline-block,
                table,
                table-cell,
                inline-flex,
            )),
    ));

$do: mendeleev-module(
        'layout.float', (
        float:
            ('float-', (
                left,
                right,
                none,
            )),
    ));

$do: mendeleev-module(
        'layout.visibility', (
        '.hidden': (
            display: none,
        ),
        '[hidden]': (
            display: none,
        ),
        '.clearfix:after': (
            clear: both,
            content: " ",
            display: table,
        ),
    ));

// Position (absolute, relative, etc)
$do: mendeleev-utility-module(
        'layout.position', (
        position:
            ('.', (
                absolute,
                fixed,
                relative,
                static,
                sticky,
            ))
    ));

// Position (pin, pin-left, pin-top, etc)
$do: mendeleev-module(
        'layout.visibility', (
        '.pin': (
            top: 0,
            bottom: 0,
            right: 0,
            left: 0,
        ),
        '.pin-none': (
            top: auto,
            bottom: auto,
            left: auto,
            right: auto,
        ),
        '.pin-x': (
            right: 0,
            left: 0,
        ),
        '.pin-y': (
            top: 0,
            bottom: 0,
        ),
        '.pin-left': (
            left: 0,
        ),
        '.pin-right': (
            right: 0,
        ),
        '.pin-top': (
            top: 0,
        ),
        '.pin-bottom': (
            bottom: 0,
        ),
    ));

// Overflow
$do: mendeleev-module(
        'layout.overflow', (
        '.overflow':
            ("overflow-", (
                auto,
                hidden,
                visible,
                scroll,
            )),
        '.overflow-x':
            ("overflow-x-", (
                auto,
                hidden,
                visible,
                scroll,
            )),
        '.overflow-y':
            ("overflow-y-", (
                auto,
                hidden,
                visible,
                scroll,
            )),
    ));

// Container
$do: mendeleev-module(
        'layout.overflow', (
        '.container-1, .container-2, .container-3, .container': (
            margin: 0 auto,
            position: relative,
            width: 100%,
            max-width: 50rem,
            padding: 0 size-scale(3),
        ),
        '.container-1': (
            max-width: 38rem + size-scale(4),
        ),
        '.container-2': (
            max-width: 29rem + size-scale(4),
        ),
        '.container-3': (
            max-width: 20rem + size-scale(4),
        ),
        '.raise-first > *:first-child': (
            margin-top: 0,
        ),
    ));
