//------------------------------------------------------------------------------
// CONTROL LAYOUT (OVERFLOW, FLOATS, DISPLAY, POSITION)
//------------------------------------------------------------------------------
@import '../preflight';

@if $mendeleev-registering-utilities {

    // Container
    $do: mendeleev-module(
            'layout.container', (
            '.container-1': map-merge(
                    $mendeleev-container,
                    (max-width: 44rem + size-scale(4))
            ),
            '.container-2': map-merge(
                    $mendeleev-container,
                    (max-width: 38rem + size-scale(4))
            ),
            '.container-3': map-merge(
                    $mendeleev-container,
                    (max-width: 29rem + size-scale(4))
            ),
            '.container-4': map-merge(
                    $mendeleev-container,
                    (max-width: 20rem + size-scale(4))
            ),
            '.raise-first > *:first-child': (
                margin-top: 0,
            ),
        ));

    // Position on page (pin, pin-left, pin-top, etc)
    $do: mendeleev-module(
            'layout.position', (
            '.pin': (
                top: 0,
                bottom: 0,
                right: 0,
                left: 0,
            ),
            '.pin-none': (
                top: auto,
                bottom: auto,
                left: auto,
                right: auto,
            ),
            '.pin-x': (
                right: 0,
                left: 0,
            ),
            '.pin-y': (
                top: 0,
                bottom: 0,
            ),
            '.pin-left': (
                left: 0,
            ),
            '.pin-right': (
                right: 0,
            ),
            '.pin-top': (
                top: 0,
            ),
            '.pin-bottom': (
                bottom: 0,
            ),
        ));

    // Display
    $do: mendeleev-utility-module(
            'layout.display', (
            display:
                ('.', (
                    block: block,
                    inline: inline,
                    inline-block: inline-block,
                    table: table,
                    table-cell: table-cell,
                    inline-flex: inline-flex,
                )),
        ));

    // Float
    $do: mendeleev-utility-module(
            'layout.float', (
            float:
                ('float-', (
                    left: left,
                    right: right,
                    none: none,
                )),
        ));

    // Position (absolute, relative, etc)
    $do: mendeleev-utility-module(
            'layout.position', (
            position:
                ('.', (
                    absolute: absolute,
                    fixed: fixed,
                    relative: relative,
                    static: static,
                    sticky: sticky,
                ))
        ));

    // Overflow
    $do: mendeleev-utility-module(
            'layout.overflow', (
            overflow:
                ('.overflow-', (
                    auto: auto,
                    hidden: hidden,
                    visible: visible,
                    scroll: scroll,
                )),
            overflow-x:
                ('.overflow-x-', (
                    auto: auto,
                    hidden: hidden,
                    visible: visible,
                    scroll: scroll,
                )),
            overflow-y:
                ('.overflow-y-', (
                    auto: auto,
                    hidden: hidden,
                    visible: visible,
                    scroll: scroll,
                )),
        ));
}
