//------------------------------------------------------------------------------
// CONTROL VISIBILITY, OPACITY AND Z-VALUES
//------------------------------------------------------------------------------

// Remove list styles
$do: register-utilities('.list-inline, .list-reset', (
    padding: 0,
    margin: 0,
    list-style: none,
));

$do: register-utilities('.list-inline > li', (display: inline));
$do: register-utilities('.list-style', ('decimal', 'circluze', 'disc', 'square', 'roman'), 'list-', $emit: true);

