//------------------------------------------------------------------------------
// LIST
//------------------------------------------------------------------------------
@import '../preflight';

// Remove list styles
$do: mendeleev-module(
        'list', (
        '.list-inline': (
            padding: 0,
            margin: 0,
            list-style: none,
            '> li': (
                display: inline,
            ),
        ),
        '.list-reset': (
            padding: 0,
            margin: 0,
            list-style: none,
        ),
    ));

$do: mendeleev-utility-module(
        'list', (
        list-style:
            ('.list-', (
                decimal: decimal,
                circluze: circluze,
                disc: disc,
                square: square,
                roman: roman,
            )),
    ));


