// Interactivity
$_emit: true;
$do: register-utilities('.cursor', auto default pointer wait move not-allowed, "cursor-", $emit: $_emit);
$do: register-utilities('.pointer-events', (pointer-events: auto, no-pointer-events: none), $emit: $_emit);
$do: register-utilities('.user-select', (select: text, no-select: none), $emit: $_emit);

// Background
$_emit: true;
$do: register-utilities('.background-attachment', fixed local scroll, "bg-", $emit: $_emit);
$do: register-utilities('.background-position-x', (left: left, right: right, center-x: center), "bg-", $emit: $_emit);
$do: register-utilities('.background-position-y', (bottom: bottom, top:top, center-y: center), "bg-", $emit: $_emit);
$do: register-utilities('.background-repeat', repeat no-repeat repeat-x repeat-y, "bg-", $emit: $_emit);
$do: register-utilities('.background-size', auto cover contain, "bg-", $emit: $_emit);
