//------------------------------------------------------------------------------
// DEFINE THE DEFAULT SIZING SCALE
//------------------------------------------------------------------------------
@import '../preflight';

@if $mendeleev-registering-utilities {
    //--------------------------------------------------------------------------
    // PADDING SCALE

    $do: mendeleev-utility-module(
            'padding', (
            padding:
                ('.pad-', $mendeleev-size-scale-pos-rem)
        ));

    $do: mendeleev-module(
            'padding', (
            '.pad-x': scale-of(
                $scale: $mendeleev-size-scale-pos-rem,
                $css: (
                    padding-left: null,
                    padding-right: null,
                )
            ),
            '.pad-y': scale-of(
                $scale: $mendeleev-size-scale-pos-rem,
                $css: (
                    padding-top: null,
                    padding-bottom: null,
                )
            ),
        ));

    $do: mendeleev-utility-module(
            'padding', (
            padding-left:
                ('.pad-l', $mendeleev-size-scale-pos-rem),
            padding-right:
                ('.pad-r', $mendeleev-size-scale-pos-rem),
            padding-top:
                ('.pad-t', $mendeleev-size-scale-pos-rem),
            padding-bottom:
                ('.pad-b', $mendeleev-size-scale-pos-rem),
        ));

    //--------------------------------------------------------------------------
    // MARGIN SCALE

    $do: mendeleev-utility-module(
            'margin', (
            margin:
                ('.margin-', $mendeleev-size-scale-rem)
        ));

    $do: mendeleev-module(
            'margin', (
            '.margin-x': scale-of(
                $scale: $mendeleev-size-scale-rem,
                $css: (
                    margin-left: null,
                    margin-right: null,
                )
            ),
            '.margin-y': scale-of(
                $scale: $mendeleev-size-scale-rem,
                $css: (
                    margin-top: null,
                    margin-bottom: null,
                )
            ),
        ));

    $do: mendeleev-utility-module(
            'margin', (
            margin-left:
                ('.margin-l', $mendeleev-size-scale-rem),
            margin-right:
                ('.margin-r', $mendeleev-size-scale-rem),
            margin-top:
                ('.margin-t', $mendeleev-size-scale-rem),
            margin-bottom:
                ('.margin-b', $mendeleev-size-scale-rem),
        ));

    //--------------------------------------------------------------------------
    // SIZES

    $do: mendeleev-module(
            'sizes', (
            // Squared height
            '.size-': scale-of(
                $scale: $mendeleev-size-scale-auto,
                $css: (
                    width: null,
                    height: null,
                )
            ),
            // Line height
            '.line-height-': scale-of(
                $scale: $mendeleev-size-scale-auto,
                $css: (
                    line-height: null,
                )
            ),
        ));

    // Horizontal and vertical
    $do: mendeleev-utility-module(
            'sizes', (
            width:
                ('.size-x', $mendeleev-size-scale-auto),
            height:
                ('.size-y', $mendeleev-size-scale-auto),
        ));

    $do: mendeleev-utility-module(
            'sizing', (
            width:
                ('.width-', $mendeleev-grid-size-scale),
            max-width:
                ('.max-width-', $mendeleev-grid-size-scale),
            min-width:
                ('.min-width-', $mendeleev-grid-size-scale),
            height:
                ('.height-', $mendeleev-grid-size-scale),
            max-height:
                ('.max-height-', $mendeleev-grid-size-scale),
            min-height:
                ('.min-height-', $mendeleev-grid-size-scale),
        ));
}
