//------------------------------------------------------------------------------
// TRANSFORMATIONS
//------------------------------------------------------------------------------

@if $mendeleev-registering-utilities {
    $do: mendeleev-module(
            'transform', (
            //
            // Grow and shrink
            '.grow-': scale-of(
                $scale: $mendeleev-grow-scale,
                $interpolate: (
                    transform: 'scale($1, $1)',
                )),
            '.shrink-': scale-of(
                $scale: $mendeleev-shrink-scale,
                $interpolate: (
                    transform: 'scale($1, $1)',
                )),
            //
            // Rotations
            '.rotate-': scale-of(
                $scale: (30: 30, 45: 45, 60: 60, 90: 90),
                $interpolate: (
                    transform: 'rotate($1deg)',
                )),
            '.rotate-n': scale-of(
                $scale: (30: 30, 45: 45, 60: 60, 90: 90),
                $interpolate: (
                    transform: 'rotate(-$1deg)',
                )),
            '.rotate-180': (
                transform: unquote('rotate(180deg)'),
            ),
            //
            // Grey scale
            '.grayscale-': scale-of(
                $scale: $mendeleev-transform-scale,
                $interpolate: (
                    filter: 'grayscale($1)',
                )),
            //
            // Sepia
            '.sepia-': scale-of(
                $scale: $mendeleev-transform-scale,
                $interpolate: (
                    filter: 'sepia($1)',
                )),
            //
            // Invert
            '.invert-': scale-of(
                $scale: $mendeleev-transform-scale,
                $interpolate: (
                    filter: 'invert($1)',
                )),
            //
            // Contrast
            '.contrast-': scale-of(
                $scale: $mendeleev-transform-double-scale,
                $css: (
                    filter: 'contrast($1)',
                )),
            //
            // Brightness
            '.brightness-': scale-of(
                $scale: $mendeleev-transform-double-scale,
                $interpolate: (
                    filter: 'brightness($1)',
                )),
            //
            // Saturation
            '.saturation-': scale-of(
                $scale: $mendeleev-transform-double-scale,
                $interpolate: (
                    filter: 'saturate($1)',
                )),
        ));

    $do: mendeleev-utility-module(
            'transform', (
            //
            // Origin location
            transform-origin:
                ('.transform-', (
                    center: center center 0,
                    top: center top 0,
                    bottom: center bottom 0,
                    left: left center 0,
                    right: right center 0,
                    ne: right top 0,
                    nw: left top 0,
                    se: right bottom 0,
                    sw: left bottom 0,
                )),
        ));
}
