//------------------------------------------------------------------------------
// TYPOGRAPHY
//------------------------------------------------------------------------------
@import 'typography-functions';

$_emit: config('typography.modules.scale');
$do: make-type-scale($_emit);

//------------------------------------------------------------------------------
// Simple system font styles: font-sans, font-serif, font-mono, font-cursive


$do: mendeleev-utility-module(
        'typography.modules.fonts', (
        font-family:
            ('.', (
                sans-serif: config('typography.#{sans-serif}'),
                serif: config('typography.#{serif}'),
                cursive: config('typography.#{cursive}'),
                monospace: config('typography.#{monospace}'),
            )),
    )
);

//------------------------------------------------------------------------------
// Font weight

$do: mendeleev-utility-module(
        'typography.modules.weights', (
        font-weight:
            ('.', (
                thin: 100,
                extra-light: 200,
                light: 300,
                regular: 400,
                medium: 500,
                semi-bold: 600,
                bold: 700,
                extra-bold: 800,
                black: 900,
            )),
    ));

//------------------------------------------------------------------------------
// Styles, decorations and text transform

$do: mendeleev-utility-module(
        'typography.modules.styles', (
        font-style:
            ('.', (
                italic: italic,
                roman: norma
            )),
        text-transform:
            ('.', (
                uppercase: uppercase,
                lowercase: lowercase,
                capitalize: capitalize,
                normalcase: none,
            )),
        text-decoration:
            ('.', (
                underline: underline,
                line-through: line-through,
                no-underline: none
            ))
    ));

//------------------------------------------------------------------------------
// Text alignment

$do: mendeleev-utility-module(
        'typography.modules.alignment', (
        text-align:
            ('.', (
                left,
                center,
                right,
                justify,
            )),
        vertical-align:
            ('.', (
                baseline,
                top,
                middle,
                bottom,
                text-top,
                text-bottom
            ))
    ));

//------------------------------------------------------------------------------
// Whitespace

$do: mendeleev-utility-module(
        'typography.modules.white-space', (
        white-space:
            ('.', (
                normal,
                nowrap,
                pre,
                pre-line,
                pre-wrap,
            ))
    ));

//------------------------------------------------------------------------------
// Leading

$do: mendeleev-utility-module(
        'typography.modules.leading', (
        leading-height:
            ('.', (
                leading: config('typography.lead'),
                leading-title: config('typography.heading-lead'),
                leading-solid: 1,
                leading-loose: 2,
            )),
    ));

//------------------------------------------------------------------------------
// Measure

$do: mendeleev-utility-module(
        'typography.modules.measure', (
        max-width:
            ('.', (
                measure: 29em, // ~ 65 characters
                measure-wide: 38em, // ~ 85 characters
                measure-narrow: 20em, // ~ 45 characters
            ))
    ));

//------------------------------------------------------------------------------
// Indentation

$do: mendeleev-utility-module(
        'typography.modules.indent', (
        text-indent:
            ('.', (
                indent: 1.5em,
                indent-punctuation: -0.3em,
            )),
    ));

$do: mendeleev-module(
        'typography.modules.indent', (
        '.truncate': (
            white-space: nowrap,
            overflow: hidden,
            text-overflow: ellipsis,
        )
    ));

//------------------------------------------------------------------------------
// Direction

$do: mendeleev-utility-module(
        'typography.modules.direction', (
        direction:
            ('.', (
                rtl,
                ltr,
            )),
    ));

