//------------------------------------------------------------------------------
// COLOR NAMES AND DEFAULT VALUES
//------------------------------------------------------------------------------

// Whites
$color-black: #151515 !default;
$color-white: white !default;
$color-dark: $color-black !default;
$color-light: $color-white !default;
$color-grey: #a79d96 !default;

$color-regular-text: $color-black !default;
$color-inverse-text: $color-white !default;
$color-background: $color-white !default;
$color-inverse-background: $color-black !default;

$color-muted-text: mix($color-regular-text, $color-grey, 50%) !default;
$color-muted-background: mix($color-background, $color-grey, 90%) !default;
$color-muted-inverse-text: mix($color-inverse-text, $color-grey, 50%) !default;
$color-muted-inverse-background: mix($color-inverse-background, $color-grey, 90%) !default;

// Colors
$color-red: #de011e !default;
$color-orange: #f26202 !default;
$color-yellow: #fbbd08 !default;
$color-olive: #b5cc18 !default;
$color-green: #16ab39 !default;
$color-teal: #00b5ad !default;
$color-blue: #006d93 !default;
$color-violet: #1c0052 !default;
$color-purple: #9627ba !default;
$color-pink: #e03997 !default;
$color-brown: #a5673f !default;

// Roles
//$color-brand: $color-violet !default;
$color-brand: $color-red !default;
$color-accent: $color-violet !default;
$color-action: transparent !default;
$color-primary: $color-brand !default;
$color-secondary: $color-accent !default;
$color-positive: $color-green !default;
$color-negative: $color-red !default;
$color-warning: $color-yellow !default;

// Default color palette
$mendeleev-color-palette: () !default;
$mendeleev-color-palette: map-merge((
    //
    // Whites
    'black': $color-black,
    'white': $color-white,
    'light': $color-light,
    'dark': $color-dark,
    'grey': $color-grey,
    'regular-text': $color-regular-text,
    'inverse-text': $color-inverse-text,
    'background': $color-background,
    'inverse-background': $color-inverse-background,
    'muted-text': $color-muted-text,
    'muted-inverse-text': $color-muted-inverse-text,
    'muted-background': $color-muted-background,
    'muted-inverse-background': $color-muted-inverse-background,
    //
    // Colors
    'red': $color-red,
    'orange': $color-orange,
    'yellow': $color-yellow,
    'olive': $color-olive,
    'green': $color-green,
    'teal': $color-teal,
    'blue': $color-blue,
    'violet': $color-violet,
    'purple': $color-purple,
    'pink': $color-pink,
    'brown': $color-brown,
    //
    //  Roles
    'brand': $color-brand,
    'accent': $color-accent,
    'action': $color-action,
    'primary': $color-primary,
    'secondary': $color-secondary,
    'positive': $color-positive,
    'negative': $color-negative,
    'warning': $color-warning,
), $mendeleev-color-palette);

// Default contrast overrides
$mendeleev-color-contrast: (
    #33c3f0: $color-white,
    #00b5ad: $color-white,
    #b5cc18: $color-white,
) !default;
